/* lets start here with planning the infrastructure */ 

/*Any styling required for global elements can go here*/

/*Body styling goes here*/
body {
    max-height: 100%;
    border-radius: 5%;

}

/*Styling for the controls area here*/
.controls-area {
    text-align: center;
    padding-bottom: 30px;
}
.control-button {
    font-size: 30px;
    margin: 10px;
}
.btn--blue {
    border-color: lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
}

.btn--red {
    border-color: lightgreen;
    background-color: lightgreen;
}

/*styling for the title can go here*/
.heading {
    font-size: 50px;
    font-family: "arial narrow bold";
    text-align: center;
}
.logo {
    height: 40px;
    padding: 5px;
}
.weapon-title {
    text-align: center;
    padding-top: 20px;
}

/*styling for the player can go here*/
.player{
    display: flex;
    justify-content: center; /* horizontally center the child elements */
    align-items: center; /* vertically center the child elements*/
    padding-bottom: 20px;
    border-bottom: 2px black solid;
    background: lightblue;
}

.player .myOptions {
    max-width: 25%;
    margin: 20px;
    font-size: 40px;
    border: 2px black solid;
    padding: 2px 8px 2px 8px;
    background-color: white;
}
.my-result {
    text-align: center;
    font-size: 40px;
}
/*styling the for the computer player can go here*/
.computerPlayer {
    display: flex;
    justify-content: center; /* horizontally center the child elements */
    align-items: center; /* vertically center the child elements*/
    padding-top: 20px;
    border-top: 2px black solid;
    background: lightcoral;
}

.computerPlayer .compOptions {
    max-width: 25%;
    margin: 20px;
    font-size: 40px;
    border: 2px black solid;
    padding: 2px 8px 2px 8px;
    background-color: white;
}
.comWeapon-options {
    height: 70px; /*Forcing computer player weapon size to match that of the player*/
}
.comp-result {
    text-align: center;
    font-size: 40px;
}


/*styling for the battleground can go here*/
.battle-ground {
    text-align: center;
    font-size: 50px;
}
.multiplyer {
    padding-right: 10px;
    text-align: center;
}

/*Background styling can go here*/

/*Score area goes here*/ 
.score-title {
    text-align: center;
    padding-top: 20px;
}
.score {
    text-align: center;
    justify-content: center;
}
