/* lets start here with planning the infrastructure */ 

/*Any styling required for global elements can go here*/

/*Body styling goes here*/
body {
    max-height: 100%;
    border-radius: 5%;

}
/*styling for the title can go here*/
.heading {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    text-align: center;
}
.logo {
    height: 40px;
    padding: 5px;
}

/*styling for the player can go here*/
.player {
    text-align: center;
}
/*styling the for the computer player can go here*/
.computerPlayer {
    text-align: center;
}
/*styling for the battleground can go here*/
.battle-ground {
    text-align: center;
}

/*Background styling can go here*/

/**/ 
